<table>
  <tr>
    <td>公司名</td>
    <td>:</td>
    <td>景星珠宝</td>
  </tr>
  <tr>
    <td>公司地址</td>
    <td>:</td>
    <td>云南昆明世代景星宝楼</td>
  </tr>
  <tr>
    <td>电话</td>
    <td>:</td>
    <td>15000482567</td>
  </tr>
</table>