#errorExplanation{background-color:#FFDDDD;border:1px solid #FFBBBB;padding:10px;margin-bottom:25px;}
#errorExplanation ul{padding-left:60px;}
#errorExplanation h2{background-color:#FFFFCC;border:1px solid #FFFAAA;}
