<% content_for :back do  %>
  <%#= backward_button_tag(admin_orders_path(:search=>params[:search] ,:title=>params[:title],:name=>params[:name],:nickname=>params[:nickname],:content=>params[:content],:key=>params[:key])) %>
  <% end %>
<% unless @order.errors.blank? %>
<script type="text/javascript">
 document.observe("dom:loaded",function(){ updateSummary();})
</script>
<% end %>
<h1><%= t(".title") %></h1>
<%= render :partial=>"/admin/orders/form" ,:locals=>{:path=>admin_orders_path} %>