<% content_for :head do %>
  <%= stylesheet_link_tag '/stylesheets/pagecontent' ,'/stylesheets/pagetitlemenu_dolphin'  , '/stylesheets/pagetitlemenu_dolphin' %>
  <%= javascript_include_tag "/javascripts/base" , '/javascripts/common' , '/javascripts/form' ,'/javascripts/blockui' %>

  <% end %>
<div id="content" style="width: 1002px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px auto;">


<!-- 网页标题(菜单) -->

  <%= render :partial => "left" %>

<!-- 当前位置提示条 -->

<div id="pdv_5641" class="pdv_class" title="当前位置" style="width: 760px; height: 30px; top: 0px; left: 242px; z-index: 9;">
<div id="spdv_5641" class="pdv_content" style="overflow: hidden; width: 100%; height: 100%;">
<div class="pdv_border" style="border: 0px none; height: 30px; padding: 0pt; margin: 0pt; background: url(/images/nav-border-title.jpg) no-repeat scroll 0px 0px transparent;">
	<div style="float: right; height: 100%; width: 80px; background: url(/images/nav-border-title.jpg) no-repeat scroll -920px 0px transparent;"></div>


<div id="nav">
您现在的位置：<a href="/">首页</a> &gt; 常见问题

</div>

</div>

</div>
</div>

<!-- 网页内容详情 -->

<div id="pdv_5786" class="pdv_class" title="" style="width: 700px; height: 338px; top: 60px; left: 260px; z-index: 10;">
    <div id="spdv_5786" class="pdv_content" style="overflow: visible; width: 100%;">
      <div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 100%; border: 0px solid;">
        <div style="height: 25px; margin: 1px; display: none;">

          <div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold;">

          </div>
          <div style="float: right; margin-right: 10px; display: none;">
            <a href="http://jadejade.cn/1284882468/news/class/-1" style="line-height: 25px;">更多</a>
          </div>
        </div>
        <div style="padding: 0px;">
          <div id="newsquery_diy">
            <ul id="queryul">
              <p>  问题1：请问付款后什么时候能到货？</p>
              <p>  答： 国内快递三天可到，国外八天可到。</p>
              <p  style="background: url(/images/line_bottom.jpg) repeat-x;margin: 0"> &nbsp;</p>
    

              <p>  问题2：想购买您的商品，怎么付款？</p>
              <p>  答： 打直接下订单用支付宝付款，也可以直接将钱打入网上发布的银行帐户后电话联系相关人员。</p>
              <p  style="background: url(/images/line_bottom.jpg) repeat-x;margin: 0"> &nbsp;</p>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
