<% form_for :search ,:url=>news_index_path , :html => {:method => :get,:class => "no-floating form"} do |f| %>  
  <% f.fields_for @search.conditions do |category| %>
    <table class="table">
      <tbody>
        <tr class="odd">
          <!--
          <td width="60px">分类 </td>
          <td width="100px"> 
          < %= category.select :category_id_is ,Category.all.map{|c|[c.name,c.id]},{:include_blank => true} %></td>
          -->
          <td width="60px">标题</td>
          <td width="200px"> <%= text_field_tag :title,params[:title],:size => 20,:maxlength => 100 %></td>
          <td width="60px">关键字</td>
          <td width="200px"><%= text_field_tag :keywords,params[:keywords],:size => 25 , :maxlength => 13 %></td>
          <td width="60px">  <%= f.submit "查找",:class=>"button" %></td>
        </tr>
      </tbody>
    </table>
  <%end%>

<% end %>


