<div id="block-lists" class="block">
  <div class="secondary-navigation">
    <ul>
      
      <li class="first "><a href="#">定单管理</a></li>
      <!--
      
      < % Basetable.find_by_name('文章热门关键字').content.split(" ").each do |c, i|  %>
        <li class="< %= 0==i ? 'first' : ''  %> < %=  c == params[:keywords] ? 'active' : '' %>  ">
        <a href="/news?keywords=< %= c   %>">< %= c %></a>
        </li>
       < % end %>
-->
    </ul>
    <div class="clear">   </div>
  </div>
  <div class="section section-colorD">
    <table class="table" >
      <tr>
        <th>订单编号</th>
        <th>小计</th>
        <th>总价</th>
        <th>状态</th>
      </tr>
      
      <% @orders.each do |order| %>
        <tr>
          <td><%=link_to order.serial , order_path(order.serial) %></td>
          <td><%= order.subtotal %></td>
          <td><%= order.total %></td>
          <td><%= order.status%>&nbsp;</td>
        </tr>
      <% end %>
      
    </table>
  </div>
</div>