<div style="width: 760px; height: 863px; top: 590px; left: 242px; z-index: 13;" title="商品评论" class="pdv_class" id="pdv_5827">
    <div style="overflow:visible;width:100%;" class="pdv_content" id="spdv_5827">
      <div style="margin:0;padding:0;height:100%;border:0px  solid;background:;" class="pdv_border">
        <div style="height:25px;margin:1px;display:none;background:;">
          <div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		商品评论
          </div>
          <div style="float:right;margin-right:10px;display:none" >
            <a style="line-height:25px;" href="#">更多</a>
          </div>
        </div>
        <div style="padding:0px">

          <link type="text/css" rel="stylesheet" href="../../shop/templates/css/comment.css">
          <script src="../../shop/js/comment.js" language="javascript"></script>
          <div id="commentList">
            <div class="capbg">
              <div class="captitle">最新点评</div>
              <a title="查看本商品的全部点评" class="capmore" href="../../comment/class/index.php?catid=11&amp;rid=8">更多点评</a>
              <a title="对本商品发表点评" class="capmore" href="#feedback">发表点评</a>
            </div>
            <ul id="commentUl">

              <li id="commentli_543">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                      <td width="70" valign="top">
                        <div class="face"><a href="#"><img width="60" border="0" src="/images/1.gif"></a>
                        </div></td>
                      <td valign="top">
                        <div style="float:left;">
                          <a class="ctitle" target="_self" href="../../comment/html/?543.html">对复颜洁面乳的评论</a>
                        </div>
                        <div style="float:right"><a href="#">游客</a> 发表于: 2011-07-25

                        </div>
                        <div style="clear:both;margin-top:8px;line-height:18px">
		ffff ...
                          <div style="margin-top:8px;color:#666">评价：<img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>


              </li>

              <li id="commentli_542">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                      <td width="70" valign="top">
                        <div class="face"><a href="#"><img width="60" border="0" src="/images/1.gif"></a>
                        </div></td>
                      <td valign="top">
                        <div style="float:left;">
                          <a class="ctitle" target="_self" href="../../comment/html/?542.html">对复颜洁面乳的评论</a>
                        </div>
                        <div style="float:right"><a href="#">游客</a> 发表于: 2011-06-28

                        </div>
                        <div style="clear:both;margin-top:8px;line-height:18px">
		好 ...
                          <div style="margin-top:8px;color:#666">评价：<img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>


              </li>

              <li id="commentli_539">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                      <td width="70" valign="top">
                        <div class="face"><a href="#"><img width="60" border="0" src="/images/1.gif"></a>
                        </div></td>
                      <td valign="top">
                        <div style="float:left;">
                          <a class="ctitle" target="_self" href="../../comment/html/?539.html">对复颜洁面乳的评论</a>
                        </div>
                        <div style="float:right"><a href="#">游客</a> 发表于: 2011-06-09

                        </div>
                        <div style="clear:both;margin-top:8px;line-height:18px">
		dddd ...
                          <div style="margin-top:8px;color:#666">评价：<img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_1.gif"><img src="/images/icon_star_1.gif"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>


              </li>

              <li id="commentli_530">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                      <td width="70" valign="top">
                        <div class="face"><a href="#"><img width="60" border="0" src="/images/1.gif"></a>
                        </div></td>
                      <td valign="top">
                        <div style="float:left;">
                          <a class="ctitle" target="_self" href="../../comment/html/?530.html">对复颜洁面乳的评论</a>
                        </div>
                        <div style="float:right"><a href="#">游客</a> 发表于: 2010-12-24

                        </div>
                        <div style="clear:both;margin-top:8px;line-height:18px">
		掉的大  ...
                          <div style="margin-top:8px;color:#666">评价：<img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_1.gif"><img src="/images/icon_star_1.gif"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>


              </li>

              <li id="commentli_529">

                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                      <td width="70" valign="top">
                        <div class="face"><a href="#"><img width="60" border="0" src="/images/1.gif"></a>
                        </div></td>
                      <td valign="top">
                        <div style="float:left;">
                          <a class="ctitle" target="_self" href="../../comment/html/?529.html">对复颜洁面乳的评论</a>
                        </div>
                        <div style="float:right"><a href="#">游客</a> 发表于: 2010-12-11

                        </div>
                        <div style="clear:both;margin-top:8px;line-height:18px">
		sadas ...
                          <div style="margin-top:8px;color:#666">评价：<img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_2.gif"><img src="/images/icon_star_1.gif"><img src="/images/icon_star_1.gif"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody></table>


              </li>

            </ul>
          </div>
          <a name="feedback"></a>

          <div id="commentForm">
            <div class="formtitlebg">
              <div class="formtitle">发表点评</div>
            </div>
            <div class="formzone">
              <div class="noticediv" id="notice"></div>
              <form name="commentSend" method="post" action="" id="commentSend">

                <div class="row">
                  <div class="left">您的评价</div>
                  <div class="con">
                    <table cellspacing="1" cellpadding="0" border="0">
                      <tbody><tr>
                          <td><img width="14" height="12" alt="差(1)" src="/images/icon_star_2.gif" class="pstar" id="star1"></td>
                          <td><img width="14" height="12" alt="一般(2)" src="/images/icon_star_2.gif" class="pstar" id="star2"></td>
                          <td><img width="14" height="12" alt="好(3)" src="/images/icon_star_2.gif" class="pstar" id="star3"></td>
                          <td><img width="14" height="12" alt="很好(4)" src="/images/icon_star_1.gif" class="pstar" id="star4"></td>
                          <td><img width="14" height="12" alt="非常好(5)" src="/images/icon_star_1.gif" class="pstar" id="star5"></td>
                        </tr>
                      </tbody></table><input type="hidden" value="3" id="pj1" name="pj1">

                  </div>
                </div>

                <div class="row">
                  <div class="left">评论标题</div>
                  <div class="con">
                    <input type="text" style="width:480px" value="对复颜洁面乳的评论" class="input" name="title">
                  </div>
                </div>

                <div class="row">
                  <div class="left">评论内容</div>
                  <div class="con">
                    <textarea style="width:480px" rows="6" class="textarea" name="body"></textarea>
                  </div>
                </div>



                <div class="row">
                  <div class="left">验 证 码</div>
                  <div class="con">
                    <table height="20" cellspacing="1" cellpadding="0" border="0">
                      <tbody><tr>
                          <td>
                            <input type="text" class="input" style="width:55px" name="ImgCode">
                          </td>
                          <td>
                            <img width="60" height="20" style="border:1px #dddddd solid" src="../../codeimg.php" id="codeimg">

                          </td>
                          <td><span style="cursor:pointer;margin-left:10px;line-height:20px" id="getImgCode">看不清？更换一张</span></td>
                        </tr>
                      </tbody></table>
                  </div>
                </div>



                <div class="row">

                  <div style="float:left;line-height:30px;margin:0px 10px 0px 90px">
                    <input type="checkbox" checked="true" value="1" name="nomember" id="nomember"> 匿名发表&nbsp;
                  </div>

                  <div style="float: left; line-height: 33px;" id="notLogin">您尚未登录 <span class="loginlink">登录</span> | <a class="nomal" href="../../member/reg.php">注册</a></div>
                  <div style="display:none;float:left;line-height:33px" id="isLogin">您已登录,登录账号: <span id="username"></span> &nbsp; | &nbsp;<a class="nomal" href="../../member/">会员中心</a> | &nbsp;<span class="logoutlink">退出</span></div>
                </div>

                <div class="row">
                  <div style="text-align:left;padding:5px 3px 0px 93px">
                    <input type="submit" class="submit" value="提交" name="Submit">
                    <input type="hidden" value="commentsend" name="act">
                    <input type="hidden" value="8" id="rid" name="rid">
                    <input type="hidden" value="" name="pid">
                    <input type="hidden" value="11" id="catid" name="catid">
                    <input type="hidden" value="" id="nowpage" name="nowpage">
                  </div>
                </div>

              </form>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>