
<div id="pdv_5640" class="pdv_class" title="关于我们" style="width: 210px; height: 341px; top: 0px; left: 0px; z-index: 8;">
<div id="spdv_5640" class="pdv_content" style="overflow: visible; width: 100%;">
<div class="pdv_border" style="border: 0px none; height: 100%; padding: 0pt; margin: 0pt; background: url(/images/left-border-title.jpg) repeat-y scroll 0% 0% rgb(249, 249, 249);">
<div style="height: 100%; background: url() repeat-y scroll right center transparent;">
<div style="height: 40px; border: 0px none; padding: 0pt; margin: 0pt; background: url(/images/left-border-title.jpg) no-repeat scroll 0px 0px transparent;">
	<div style="float: left; height: 33px; font: 14px/32px Simsun; color: rgb(80, 80, 80); padding: 5px 0px 0px 30px;">关于我们</div>
	<div style="float: right; height: 40px; width: 16px; background: url() no-repeat scroll -984px 0px transparent;"></div>

</div>
<div style="margin: 0px; padding: 0px;">
<div class="titlemenu_dolphin">
<a href="/home/aboutus" target="_self" class="titlemenu_dolphin">简介</a>
<a href="/home/contact" target="_self" class="titlemenu_dolphin">联系我们</a>
<a href="/home/buy" target="_self" class="titlemenu_dolphin">购物指南</a>
<a href="/home/question" target="_self" class="titlemenu_dolphin">常见问题</a>
</div>


</div>
</div>
</div>
<div style="margin-top: -9px; height: 9px; line-height: 9px; background: url(/images/left-border-title.jpg) no-repeat scroll 0px -299px transparent;">&nbsp;</div>
<div style="float: right; margin-top: -9px; width: 10px; height: 9px; line-height: 9px; background: url(/images/left-border-title.jpg) no-repeat scroll -990px -299px transparent;">&nbsp;</div>

</div>
</div>