<% content_for :head do %>
  <%= stylesheet_link_tag 'A','A_002' ,'pagetitlemenu_dolphin' ,'reg' , 'nav' ,'comment' ,'shop_search_simple' %>
  <%= javascript_include_tag "base" , 'common' , 'form' ,'blockui' ,'comment'  %>
  <%= stylesheet_link_tag 'qqmenu' %>
  <%= javascript_include_tag "qqmenu" ,'membernotice' %>
<% end %>



<div style="width: 1002px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px auto;" id="content">


<!-- 会员公告(列表) -->

<div style="width: 760px; height: 32px; top: 237px; left: 242px; z-index: 8;" title="会员公告" class="pdv_class" id="pdv_6035">
<div style="overflow:visible;width:100%;" class="pdv_content" id="spdv_6035">
<div style="margin:0;padding:0;height:100%;border:0px  solid;background:;" class="pdv_border">
	<div style="height:25px;margin:1px;display:block;background:#f5f5f5;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		会员公告
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a style="line-height:25px;color:" href="-1">更多</a>
		</div>
	</div>
<div style="padding:0px">


<ul style="margin:0;padding:0px">


<li class="ntclist">
<div style="float:left;text-align:left"><a class="ntclist" target="_self" href="../member/member_notice.php?id=1">这是测试的一条会员公告</a></div>
<div style="float:right;text-align:right">2008-09-05</div>

</li>

</ul>

</div>
</div>

</div>
</div>

<!-- 会员积分信息 -->

<div style="width:282px;height:163px;top:54px;left:720px; z-index:9" title="会员积分" class="pdv_class" id="pdv_6034">
<div style="overflow:hidden;width:100%;height:100%" class="pdv_content" id="spdv_6034">
<div style="margin: 0pt; padding: 0pt; height: 163px; border: 0px solid;" class="pdv_border">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;">
		会员积分
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a style="line-height:25px;" href="-1">更多</a>
		</div>
	</div>
<div style="padding:0px">
  <table cellspacing="1" cellpadding="3" border="0" align="center" class="table">
    <tbody>
      <tr>
        <td align="right" class="memberinfo">经验：</td>
        <td class="memberinfo"><img width="2" height="10" src="../member/templates/images/cw1.gif"> 12</td>
      </tr>
      <tr>
        <td align="right" class="memberinfo">人气：</td>
        <td class="memberinfo"><img width="1" height="10" src="../member/templates/images/cw2.gif"> 0</td>
      </tr>
      <tr>
        <td align="right" class="memberinfo">悬赏：</td>
        <td class="memberinfo"><img width="1" height="10" src="../member/templates/images/cw3.gif"> 0</td>
      </tr>
      <tr>
        <td align="right" class="memberinfo">金币：</td>
        <td class="memberinfo"><img width="1" height="10" src="../member/templates/images/cw4.gif"> 0</td>
      </tr>
      <tr>
        <td align="right" class="memberinfo">消费：</td>
        <td class="memberinfo"><img width="1" height="10" src="../member/templates/images/cw5.gif"> 0</td>
      </tr>
    </tbody>
  </table>


</div>
</div>

</div>
</div>

<!-- 会员登录信息 -->

<div style="width:463px;height:164px;top:54px;left:242px; z-index:10" title="会员登录信息" class="pdv_class" id="pdv_6033">
<div style="overflow:hidden;width:100%;height:100%" class="pdv_content" id="spdv_6033">
<div style="margin: 0pt; padding: 0pt; height: 164px; border: 0px solid;" class="pdv_border">
	<div style="height:25px;margin:1px;display:none;background:;">
		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		会员登录信息
		</div>
		<div style="float:right;margin-right:10px;display:none">
		<a style="line-height:25px;color:" href="-1">更多</a>
		</div>
	</div>
<div style="padding:0px">
  <table cellspacing="1" cellpadding="3" border="0" class="table">

      <tbody><tr>
        <td width="70" align="right" class="memberinfo">登录账号：</td>
        <td class="memberinfo">vwangzhen</td>
      </tr>
      <tr>
        <td width="70" align="right" class="memberinfo">网名昵称：</td>
        <td class="memberinfo">vwangzhen</td>
      </tr>
      <tr>
        <td width="70" align="right" class="memberinfo">注册时间：</td>
        <td class="memberinfo">2011-09-16 10:28:44 </td>
      </tr>
      <tr>
        <td width="70" align="right" class="memberinfo">注册时IP：</td>
        <td class="memberinfo">180.168.59.78</td>
      </tr>
      <tr>
        <td width="70" align="right" class="memberinfo">末次登录：</td>
        <td class="memberinfo">2011-09-16 10:55:30 </td>
      </tr>
      <tr>
        <td width="70" align="right" class="memberinfo">登录时IP：</td>
        <td class="memberinfo">180.168.59.78</td>
      </tr>
      <tr>
        <td align="right" class="memberinfo">登录次数：</td>
        <td class="memberinfo">3</td>
      </tr>

  </tbody></table>


</div>
</div>

</div>
</div>

<!-- 当前位置提示条 -->

<div style="width:760px;height:30px;top:0px;left:242px; z-index:11" title="当前位置" class="pdv_class" id="pdv_6031">
<div style="overflow:hidden;width:100%;height:100%" class="pdv_content" id="spdv_6031">
<div style="border: 0px none; height: 30px; padding: 0pt; margin: 0pt; background: url(&quot;/images/nav-border-title.jpg&quot;) no-repeat scroll 0px 0px transparent;" class="pdv_border">
	<div style="float:right;height:100%;width:80px;background:url(/images/nav-border-title.jpg) -920px 0px no-repeat;"></div>

<link type="text/css" rel="stylesheet" href="../member/templates/css/nav.css">
<div id="nav">
您现在的位置：<a href="../">化妆品品牌专卖店</a>

&gt; <a href="../member/">会员中心</a>

&gt; 会员中心首页

</div>

</div>

</div>
</div>

<!-- 会员功能菜单 -->

<div style="width: 210px; height: 554px; top: 0px; left: 0px; z-index: 12;" class="pdv_class" id="pdv_6036">
<div style="overflow:visible;width:100%;" class="pdv_content" id="spdv_6036">
<div style="border:0px;height:100%;padding:0;margin:0;background:#f9f9f9 url(/images/left-border-title-bg.jpg) repeat-y;" class="pdv_border">
<div style="height:100%;background:url(/images/left-border-title-bg.jpg) right repeat-y;">
<div style="height:40px;border:0px;padding:0;margin:0;background:url(/images/left-border-title.jpg) 0px 0px no-repeat;">
	<div style="float:left;height:33px;font:14px/32px Simsun;color:#505050;padding:5px 0px 0px 30px;">会员中心</div>
	<div style="float:right;height:40px;width:16px;background:url(/images/left-border-title.jpg) -984px 0px no-repeat;"></div>
</div>
<div style="margin:0px;padding:0px">

<style type="text/css">
.categoryitems{display: none}
</style><style type="text/css">
.subcategoryitems{display: none}
</style>
<div class="arrowlistmenu">

<div class="menuheader expandable openheader" headerindex="0h"><span class="accordprefix"></span>会员资料设置<span class="accordsuffix"></span></div>
<ul class="categoryitems" contentindex="0c" style="display: block;">
<li><a target="_self" href="../member/member_account.php">登录账号</a></li><li><a target="_self" href="../member/member_person.php">头像签名</a></li><li><a target="_self" href="../member/member_detail.php">个人资料</a></li><li><a target="_self" href="../member/member_contact.php">联系信息</a></li><li><a target="_self" href="../logout.php">退出登录</a></li>
</ul>

<div class="menuheader expandable openheader" headerindex="1h"><span class="accordprefix"></span>订单账户管理<span class="accordsuffix"></span></div>
<ul class="categoryitems" contentindex="1c" style="display: block;">
<li><a target="_self" href="../shop/order.php">订单查询</a></li><li><a target="_self" href="../member/member_paylist.php">付款记录</a></li><li><a target="_self" href="../member/member_buylist.php">消费记录</a></li><li><a target="_self" href="../member/member_onlinepay.php">在线充值</a></li><li><a target="_self" href="../huanzeng/order.php">赠品订单</a></li>
</ul>

<div class="menuheader expandable openheader" headerindex="2h"><span class="accordprefix"></span>会员个人专区<span class="accordsuffix"></span></div>
<ul class="categoryitems" contentindex="2c" style="display: block;">
<li><a target="_self" href="../member/member_fav.php">我的收藏</a></li><li><a target="_self" href="../member/member_comment.php">我的点评</a></li><li><a target="_self" href="../member/member_cent.php">我的积分</a></li><li><a target="_self" href="../member/member_friends.php">我的好友</a></li><li><a target="_self" href="../member/member_msn.php">站内短信</a></li>
</ul>

</div>

</div>
</div>
</div>
<div style="margin-top:-9px;height:9px;line-height:9px;background:url(/images/left-border-title.jpg) 0px -299px no-repeat">&nbsp;</div>
<div style="float:right;margin-top:-9px;width:10px;height:9px;line-height:9px;background:url(/images/left-border-title.jpg) -990px -299px no-repeat">&nbsp;</div>

</div>
</div>
</div>