  <% if obj.errors.any? %>
    <div id="error_explanation">
      <div><%= obj.errors.count %> 个错误没有被保存</div>

      <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>